@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/orange";

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}
