@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/orange";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  flex-shrink: 100;
}
